<div class="container-fluid text-light">
    <form action="http://localhost:8088/pipelineTest/MarkeTa-Bulls/login" method="POST" id="form1" class="needs-validation" target="index.html" novalidate>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
          <label for="Username">Username</label>
          <input name="Username" class="form-control" type="text" placeholder="Username" required>
          <label for="password">Password</label>
          <input name="password" class="form-control" type="password" placeholder="Password" required>
          <br>
          <button class="btn form-control bg-dark text-light" id="submitform">Login</button>
        </div>
      </div>
    </form>
  </div>