<nav class="navbar navbar-expand-sm text-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="stockpicker">Stock Lookup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="portfolio">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="setting">Settings</a>
      </li>
      <li class= "nav-item">
          <a class= "nav-link" routerLink="">Logout</a>
        </li>
    </ul>
  </nav>
 