<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Hi {{currentUser.username}}!</h1>
        <h2>Current Account Balance: ${{currentUser.balance}}</h2>
    </div>
    <br><br>
    <div class="row text-center">
        <div class="col-12">
            <form (ngSubmit)="onSubmit()">
                <input id="portfolioName" type="text" name="name" required />
                <input type="submit" value="Add New Portfolio" />
            </form>
        </div>
    </div>
    <br><br>
    <div class="row text-center">
        <div class="col-2"></div>
        <div class="col-8">
            <div id="Port-list">
            </div>
        </div>
    </div>
</div>