/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
body{
    background-color: rgb(28, 28, 37);
    color: white;
}
h1{
    font-family: 'Noto Serif JP', serif;
}

.port{
    font-size: 2rem;
    }